img {
  width: 100px;
}

.search-field {
  padding-bottom: 40px;
}

.mobileMenu {
  display: none;
}

.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "header header"
    "search read";
}

.book {
  padding-bottom: 10px;
}

.search {
  display: block;
  grid-area: search;
  padding: 50px;
  width: 75%;
}

.readList {
  display: block;
  grid-area: read;
  padding: 50px;
  background-color: rgba(211, 211, 211, 0.516);
  min-height: 90vh;
  min-width: 400px;
}

.header {
  text-align: center;
  padding: 30px;
  font-weight: bold;

  color: white;
  background-color: #7c6c5e;
}

@media screen and (max-width: 900px) {

  .mobileMenu {
    display: block;
    
  }

  .readList {
    width: 100%;
  }

  

  .mobileMenu > .btn {
    width: 50%;
    background-color:#f4f1ea;
    border-radius: 0%;
    color: #7c6c5e;
    height: 50px;
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* grid-template-areas: "search"; */
  }

  .search {
    width: 100%;
  }

  .mobileHidden {
    display: none;
  }
  
}
